NODE_ENV=development

# Database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=d_ideias
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend
API_PORT=3000
ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
BACKEND_URL=http://localhost:3000

# Frontend
FRONTEND_PORT=4200
NG_APP_API_URL=/api
NG_PROXY_TARGET=http://api:3000
